.box{
    text-align: center;
    background-color: cornflowerblue;
    font-style: oblique;
}
.container{
    background-color: green;
}
.display{
    background-color: green;
}
.one{
    background-color: green;
}
.two{
    background-color: green;
}